$button-pink: #ca0066;
$dark-blue: #00005a;
$white: #ffffff;
$light-blue: #bcd5ee;
$ultra-light-blue: #eef4fb;
$outline-grey: rgba(23, 36, 53, 0.7);
$background-grey: rgba(23, 36, 53, 0.05);
$text-blue: #005baa;
$text-magenta: #f50082;
