@import './common/colours';

.common {
  color: $white;
  text-transform: uppercase;
  font-weight: bold;
  border: 0;
  border-radius: 5px;
  background-color: $button-pink;

  &:hover {
    cursor: pointer;
    background-color: $dark-blue;
  }
}

.large {
  font-size: 20px;
  padding: 10px 25px;
}

.secondary {
  border: 2px solid $dark-blue;
  border-radius: 5px;
  color: $dark-blue;
  background-color: transparent;

  &:hover {
    color: $button-pink;
    border-color: $button-pink;
    background-color: transparent;
  }
}
