@import './common/colours';

.container {
  background-color: $ultra-light-blue;
  padding-top: 70px;
  padding-bottom: 100px;
}

.subTitle {
  font-weight: 700;
  line-height: 103%;
  font-size: 30px;
  margin-bottom: 10px;
}

.steps {
  padding-left: 25px;
  color: $text-magenta;
  font-weight: 700;
}

.altBlue {
  color: $dark-blue;
  font-weight: 400;
}

.summaryWrapper {
  margin-top: 10px;
  display: flex;
  align-items: center;
  background-color: $light-blue;
  border-radius: 5px;
  margin-left: 30px;
}

.summary {
  font-weight: 700;
}
